%rebase('osnova.html', naslov='Dodaj Recept')






<div class="container">
          <div class="card border-0 shadow my-5">
	   <div class="card-body p-5">
               <h2 class="mt-4">DODAJ RECEPT</h2>
               <br>

        <form method="post">
		    <div class="form-group">
               <textarea class="ime" name="ime_recepta" placeholder="Ime recepta" rows="1" cols="120"></textarea>
			</div>
			<div class="form-group">
               <textarea class="opis" name="opis" placeholder="Kratek opis recepta" rows="2" cols="120"></textarea>
			</div>
		    <div class="form-group">
               <textarea class="cas" name="cas" placeholder="Cas priprave" rows="1" cols="120"></textarea>
			</div>
					    <div class="form-group">
               <textarea class="nacin" name="nacin_priprave" placeholder="Način priprave" rows="1" cols="120"></textarea>
			</div>
					    <div class="form-group">
               <textarea class="priloznost" name="priloznost" placeholder="Priložnost recepta" rows="1" cols="120"></textarea>
			</div>
					    <div class="form-group">
               <textarea class="vrsta" name="vrsta" placeholder="Vrsta jedi" rows="1" cols="120"></textarea>
			</div>
			<div class="form-group">
               <textarea class="sestavine" name="sestavine" placeholder="Sestavine (sestavine vnesite po naslednjem zgledu- moka:1:kg, mleko:5:ml, sladkor:10:dag...." rows="3" cols="120"></textarea>
			</div>
			<div class="form-group">
               <textarea class="postopek" name="postopek" placeholder="Postopek" rows="10" cols="120"></textarea>
			</div>

          <input type="submit" class="btn btn-primary" value="Dodaj recept"/>
        </form>
       </div>
      </div>
      </div>


	  
