%rebase('osnova.html', naslov='Dodaj Recept')




<div class="container">
        <div class="card border-0 shadow my-5" style="height: 100%">
          <div class="card-body p-5">
            <h2 class="font-weight-light">DODAJ RECEPT</h2>
          </div>
        </div>

</div>

      <!-- Comments Form -->
      <div class="card my-4">
	   <div class="card-body">
        <form method="post">
		    <div class="form-group">
               <textarea class="ime_recepta" name="ime_recepta" placeholder="Ime recepta" rows="1" cols="120"></textarea>
			</div>
			<div class="form-group">
               <textarea class="opis" name="opis" placeholder="Kratek opis recepta" rows="2" cols="120"></textarea>
			</div>
			<div class="form-group">
               <textarea class="sestavine" name="sestavine" placeholder="sestavine" rows="3" cols="120"></textarea>
			</div>
			<div class="form-group">
               <textarea class="postopek" name="postopek" placeholder="Postopek" rows="10" cols="120"></textarea>
			</div>

          <input type="submit" class="btn btn-primary" value="Dodaj recept"/>
        </form>
       </div>
      </div>


	  
