%rebase('osnova.html', naslov='Najej.se')

<div class="container">
        <div class="card border-0 shadow my-5" style="height: 100%">
          <div class="card-body p-5">
                <img src="/static/chef.png" width="80" height="80" alt= username >
            <h1 class="font-weight-light">{{username}}</h1>
            <p class="lead">SKOR: {{skor}} </p>
            <p class="lead">število receptov: !!!!! </p>
            <p class="lead"> DODAJ GUMB ZA MOJE RECEPTE</p>
          </div>
        </div>
</div>
