%rebase('osnova.html', naslov='uporabnik {}'.format(x))

%for (id, ime, skor, geslo) in uporabnik :
<div class="container">
        <div class="card border-0 shadow my-5" style="height: 100%">
          <div class="card-body p-5">
            <h1 class=class="mt-4">
            <img src="/static/chef.png" width="80" height="80" alt= uporabnik >&nbsp;&nbsp;{{ime}}</h1>
            <p> </p>
            <p class="lead">SKOR: ??? </p>
            <p class="lead">število receptov: !!!!! </p>
            <p class="lead"> </p>
          </div>
        </div>
</div>
%end