%rebase('osnova.html', naslov='uporabnik{}'.format(username))


<div class="container">
        <div class="card border-0 shadow my-5" style="height: 100%">
          <div class="card-body p-5">
            <h1 class="font-weight-light" style="height: 200px">
            <img src="/static/chef.png" width="80" height="80" alt= username >{{username}}</h1>
            <p class="lead">SKOR: ??? </p>
            <p class="lead">število receptov: !!!!! </p>
            <p class="lead"> </p>
          </div>
        </div>
</div>