%rebase('osnova.html', naslov='recept {}'.format(x))

<head>
  <!-- Custom styles for this template -->
  <link href="css/blog-post.css" rel="stylesheet">

</head>

%for (id, ime, opis, postopek, datum_objave, ocena, cas, uporabnik) in recept :


<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{ime}}</h1>

      <p class="lead">
        {{opis}}
      </p>
      <!-- Author -->
      <p class="lead">
        avtor: 
        <a href="/profil/{{uporabnik}}">{{avtor}}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Objavljeno: {{datum_objave}}

                %if ocena==1:
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                %end
                %if ocena==2:
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
        
                %end
                %if ocena==3:
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
        
        
                %end
                %if ocena==4:
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
        
                %end
                %if ocena==5:
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
                <img src="/static/kapa.png" width="30"  alt= ocena  align="right">
        
                %end
                
      </p>

      <hr>

      <!-- sestavine-->
      <h5>Sestavine: </h5>

			<table style="width:60%">
			<ul>
			%for (recept, ime, kolicina, enota) in sestavine:
			  <tr> 
				<td>
					<li>{{ime}}</li>
				</td>
				<td>{{kolicina}} {{enota}}</td> 
			  </tr>
			%end
			</ul>
			</table>

 


      <!-- Post Content -->
      <h5>Navodila za pripravo:</h5>

      <p> {{postopek}} </p>

      <hr>

	  
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Komentarji:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Komentiraj</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>

      

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Categories Widget -->
      %if vrsta:
      <div class="card my-4">
        <h5 class="card-header">Vrsta Jedi</h5>
        <div class="card-body">
          <div class="row">
            %for (recept, ime) in vrsta:
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">{{ime}}</a>
                </li>
            
              </ul>
            </div>
            %end
          </div>
        </div>
      </div>
      %end
      
      <!-- Categories Widget -->
      %if priprava:
      <div class="card my-4">
        <h5 class="card-header">Način priprave</h5>
        <div class="card-body">
          <div class="row">
            %for (recept, ime) in priprava:
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">{{ime}}</a>
                </li>
            
              </ul>
            </div>
            %end
          </div>
        </div>
      </div>
      %end
      
      <!-- Categories Widget -->
      %if priloznost:
      <div class="card my-4">
        <h5 class="card-header">Priložnost</h5>
        <div class="card-body">
          <div class="row">
            %for (recept, ime) in priloznost:
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">{{ime}}</a>
                </li>
            
              </ul>
            </div>
            %end
          </div>
        </div>
      </div>
      %end
      
      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Oceni recept</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>
    </div>
  
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
