%rebase('osnova.html', naslov='Vsi Recepti')

<!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4"> 
      </h1>


	%for (id, ime, opis, postopek, datum_objave, ocena, cas, uporabnik) in recept :
      
  <div class="container">
    <div class="row">     
	 <div class="col-lg-9 col-md-6 mb-4 mx-auto">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">{{ime}}</h4>
            <p class="card-text">{{opis}}</p>
          </div>
          <div class="card-footer">
            <a href="/recept/{{id}}" class="btn btn-primary">Prikaži recept</a>
          </div>
        </div>
      </div>
        </div>
      </div>


	%end


      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->