/* Sticky Footer Classes */


body {
  height: 100%;
  padding-top: 56px;
}



#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
 footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
}

container{
 margin-block-end: 60px;
 overflow: auto;
}

.text-center {
 margin-block-end: 60px;
}

body::after {
  content: "";
  background: url(background_prijava.jpg);
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

.btn-primary { 
background-color: #F0B27A; 
border-color: #F0B27A;
}

.btn-primary:hover { 
  background-color: #E67E22;
  border-color: #E67E22;
}

.btn-primary:active { 
  background-color: #E67E22;
  border-color: #E67E22;
}

table {
    margin-bottom: 60px;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}


